<!-- Written by Fedor Morgunov -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    {% load static %}
    {% include 'head.html' %}
</head>
<body>

{% include 'navbar.html' %}

<div class="container mt-5">
    <h1>Leaderboard</h1>

    <label for="display-type">Display Type:</label>
    <select id="display-type" class="form-control mb-3">
        <option value="users">Users</option>
        <option value="groups">Groups</option>
    </select>

    <div id="users-leaderboard">
        <h2>Sorted by Individual Users</h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>User</th>
                <th>Total Points</th>
            </tr>
            </thead>
            <tbody>
            {% for user, points in sorted_users %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="groups-leaderboard" style="display: none;">
        <h2>Sorted by Groups</h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Group</th>
                <th>Total Points</th>
            </tr>
            </thead>
            <tbody>
            {% for group, total_points in sorted_groups %}
                <tr>
                    <td>{{ group }}</td>
                    <td>{{ total_points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.getElementById('display-type').addEventListener('change', function() {
        var selectedOption = this.value;
        if (selectedOption === 'users') {
            document.getElementById('users-leaderboard').style.display = 'block';
            document.getElementById('groups-leaderboard').style.display = 'none';
        } else if (selectedOption === 'groups') {
            document.getElementById('users-leaderboard').style.display = 'none';
            document.getElementById('groups-leaderboard').style.display = 'block';
        }
    });
</script>
<!-- Script to switch between the tables -->
</body>
</html>
